* {
	margin: 0px;
	padding: 0px;
}

/* Header */
header {
	width: 100%;
	height: 150px;


}

h1 {
	color: white;
	font-weight: bolder;
	text-align: center;
	font-family: 'Thasadith', sans-serif;
	font-size: 40px;
}

img {
	margin-top: 3rem;
}

.logopic {
	width: 200px;
	margin-left: 42%;
}

.textnamn {
	padding: 5px;
	font-family: 'Thasadith', sans-serif;
}

.logotext {
	padding: 5px;
	font-family: 'Thasadith', sans-serif;
	float: right;
}


/* Main */

form {
	padding: 60px;
	text-align: center;
	margin-top: 150px;
	font-size: 15px;

}

.cityname {
	font-family: 'Thasadith', sans-serif;
}

body {
	background: url(images/main2.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

.cityname {
	border: 3px solid #fff;
	font-size: 20px;
	color: #42555F;
	font-family: 'Thasadith', sans-serif;
	text-transform: uppercase;
	width: 250px;
	text-align: center;
	padding: 1rem;
}

.butt {
	border: 3px solid #42555F;
	font-size: 20px;
	padding: 1rem;
	background-color: #42555F;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Thasadith', sans-serif;
	transition: ease-in-out .5s;

}

.butt:hover {
	color: #42555F;
	background-color: #fff;
}

.info {
	display: none;
	width: 200px;
	background-color: white;
	margin-left: 40%;
	padding: 12px;
	border: 3px solid #42555F;
	text-align: center;
	font-family: 'Thasadith', sans-serif;
	font-size: 25px;
	transition: .5s;
	padding: 1rem;
}

.info:hover {
	color: #fff;
	background-color: #42555F;
	transition: .5s;
}


/*.mainphoto {

	width: 100%;
	height: 100%;

}*/


/*  Footer */



/* Font family */
/*font-family: 'Thasadith', sans-serif;*/